<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resultados.css">
    <title>orientaTest</title>
</head>
<body>
    <div class="login-screen">
        <div class="main-container">
            <div class="image-container">
                <div class="rectangle"> 
                    <div class="arrowback">
                        <div class="bb">
                            <a href="/">
                                <img src="https://cdn-icons-png.flaticon.com/512/507/507257.png" alt="">
                            </a>
                            <div class="tstChaside">
                                <p>Resultados</p>
                            </div>
                        </div>

                        <div class="tstInfo">
                                <div class="intereses-multiples">
                                    <div class="interes">
                                      <div class="containerInfo">
                                          <p>Aún no contesta un Test</p>
                                      </div>
                                    </div>
                                </div>
                        <div class="relleno"></div>
                    </div>
                </div>                     
            </div>
            

        </div>
    </div>
</body>
</html>