<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/testInfo.css">
    <title>orientaTest</title>
</head>
<body>
    <div class="login-screen">
        <div class="main-container">
            <div class="image-container">
                <div class="rectangle"> 
                    <div class="arrowback">
                        <div class="bb">
                            <a href="/">
                                <img src="https://cdn-icons-png.flaticon.com/512/507/507257.png" alt="">
                            </a>
                            <div class="tstChaside">
                                <p>Test Chaside</p>
                            </div>
                        </div>
                        <div class="tstInfo">
                            <div class="containerInfo">
                                <p>Este test te ayudará a conocer las áreas ocupacionales asociadas a tus intereses y aptitudes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="rotation"></div>
                </div>                     
            </div>
            <div class="tstex">
                <div class="tsttxt">
                    <p>Explicación</p>
                    <p>El test consta de 49 preguntas, realizalo respondiendo cada pregunta con SI o NO.</p>
                    <ul>
                        <li>Responde con sinceridad.</li>
                        <li>Tomate el tiempo para pensar cada respuesta.</li>
                        <li>Recuerda que no hay respuestas correctas e incorrectas.</li>
                    </ul>
                </div>
            </div>
            <div class="submit-buttons">
                <a href="/preguntas">
                    <div class="btn-signin">
                        <p>Comenzar</p>
                    </div>
                </a>
                
            </div>
            

        </div>
    </div>
</body>
</html>